<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>MindNode</string>
	<key>id</key>
	<string>831C1D25-8A56-44D2-9364-DE7CECAB6E39</string>
	<key>title</key>
	<string>B/W Friendly</string>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
